<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ReportTitle}}</title>
    <style type="text/css">
{{.CssStyle}}
    </style>
</head>
<body>
<div class="pageHeader">
    <span class="projectTitle">{{.ReportTitle}}</span>
    <div class="testStats">
        <span class="total"><span class="indicator">&boxbox;</span> Total: <strong>{{.NumOfTests}}</strong>Duration: <strong>{{.TestDuration}}</strong>
        </span><span class="passed"><span class="indicator">&check;</span> Passed: <strong>{{.NumOfTestPassed}}</strong>
        </span><span class="skipped"><span class="indicator">&dash;</span> Skipped: <strong>{{.NumOfTestSkipped}}</strong>
        </span><span class="failed"><span class="indicator">&cross;</span> Failed: <strong>{{.NumOfTestFailed}}</strong>
        </span>
    </div>
    <span class="testGroupsTitle">Test Groups:</span>
    <span class="testExecutionDate">{{.TestExecutionDate}}</span>
</div>
<div class="testReportContainer">
    <div class="cardContainer">
        <div id="testResults">
            {{range $k, $v := .TestResults}}
                <div class="testResultGroup {{.FailureIndicator}} {{.SkippedIndicator}}" id="{{$k}}"></div>
            {{end}}
        </div>
    </div>
    <div class="cardContainer testGroupList" id="testGroupList"></div>
</div>
<script type="application/javascript">
    {{.JsCode}}

    /**
     * @type {TestResults}
     */
    const data = {{.TestResults}}

    const report = window.GoTestReport({
                                         data: data,
                                         testResultsElem: document.getElementById('testResults'),
                                         testGroupListElem: document.getElementById('testGroupList')
                                       });


</script>
</body>
</html>
