<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ReportTitle}}</title>
    <style type="text/css">
        body {
            font-family: sans-serif;
            background-color: #f3f3f3;
            border-top: 2px #dee6e8 solid;
            margin: 0;
        }

        div.pageHeader span.projectTitle {
            font-family: serif;
            font-size: 2em;
            padding-left: 56px;
            padding-top: 80px;
            display: block;
            color: #a5a5a5;
            text-shadow: 0 -1px 1px white;
        }

        div.pageHeader div.testStats {
            position: absolute;
            top: 7px;
            right: 52px;
            font-size: 0.8em;
            color: #a2a2a2;
        }

        div.pageHeader div.testStats span.indicator {
            font-size: 2em;
            position: relative;
            top: 5px;
            text-shadow: 0 1px 0 white;
        }

        div.pageHeader div.testStats span strong {
            margin-right: 16px;
        }

        div.pageHeader div.testStats span.total {
            border-right: 1px #afafaf dotted;
            background: #8298af;
        }

        div.pageHeader div.testStats span.passed {
            border-right: 1px #afafaf dotted;
            background: #6fca83;
        }

        div.pageHeader div.testStats span.failed {
            background: #ff7676;
        }

        div.pageHeader div.testStats span {
            margin-right: 1px;
            height: 55px;
            padding: 20px 8px 18px;
            color: white;
        }

        div.pageHeader .testGroupsTitle {
            margin: 16px 32px 8px 40px;
            font-size: 0.9em;
            color: darkgrey;
            display: block;
        }

        .testReportContainer {
            padding: 0 32px 32px 32px;
        }

        .cardContainer {
            padding: 16px 16px 16px;
            box-shadow: 0 4px 4px #d4d4d4;
            background-color: white;
        }

        #testResults {
            display: flex;
            flex-wrap: wrap;
        }

        .testResultGroup {
            width: {{.TestResultGroupIndicatorWidth}};
            height: {{.TestResultGroupIndicatorHeight}};
            background-color: #43c143;
            margin-left: 1px;
            margin-bottom: 1px;
            box-sizing: border-box;
        }

        .testResultGroup.selected {
            border: 1px white solid;
            background-color: black !important;
        }

        .testResultGroup.failed {
            background-color: red;
        }

        .cardContainer.testGroupList,
        .cardContainer.testDetail {
            margin-top: 16px;
            padding: 16px;
        }

        .cardContainer.testGroupList {
            color: #9c9c9c;
            padding: 0;
        }

        .cardContainer.testGroupList .testGroupRow {
            cursor: default;
            border-bottom: 1px #dadada dotted;
        }

        .cardContainer.testGroupList .testGroupRow span.testStatus {
            font-size: 1.2em;
            font-weight: bold;
            color: #139e13;
            padding: 0 4px 0 24px;
            position: relative;
            top: 2px;
            pointer-events: none;
        }

        .cardContainer.testGroupList .testGroupRow span.testStatus.failed {
            color: red;
        }

        .cardContainer.testGroupList .testGroupRow span.testTitle {
            font-size: 0.9em;
            padding: 12px 0px 12px;
            display: inline-block;
            pointer-events: none;
            color: #525252;
        }

        .cardContainer.testGroupList .testGroupRow span.testDuration {
            pointer-events: none;
        }

        .cardContainer.testGroupList .testGroupRow {
            position: relative;
            border-left: 4px #43c143 solid;
        }

        .cardContainer.testGroupList .testGroupRow.failed {
            color: red;
            border-left: 4px red solid;
        }

        .cardContainer.testGroupList .testGroupRow:hover {
            background-color: #fffaea;
            transition: 0.250s;
        }

        .cardContainer .testOutput {
            padding: 8px 16px 24px 16px;
        }

        .cardContainer .console {
            display: block;
            font-family: monospace;
            padding: 10px;
            background-color: #424242;
            color: #1aff00;
            border-bottom: 1px #1aff00 dotted;
            overflow: auto;
            font-size: 1.1em;
        }

        .cardContainer .testOutput .testDetail {
            border-bottom: 1px #d0d0d0 solid;
            padding: 16px;
            background-color: #e6e6e6;
            border-radius: 0 0 4px 4px;
            color: dimgrey;
            font-size: 0.8em;
        }

        .cardContainer .console.failed {
            color: #ffb2b2;
        }

        .cardContainer .testDuration {
            position: absolute;
            top: 5px;
            right: 8px;
            text-align: right;
            padding-right: 8px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="pageHeader">
    <span class="projectTitle">{{.ReportTitle}}</span>
    <div class="testStats">
        <span class="total"><span class="indicator">&boxbox;</span> Total: <strong>{{.NumOfTests}}</strong>Duration: <strong>{{.TestDuration}}</strong>
        </span><span class="passed"><span class="indicator">&check;</span> Passed: <strong>{{.NumOfTestPassed}}</strong>
        </span><span class="failed"><span class="indicator">&cross;</span> Failed: <strong>{{.NumOfTestFailed}}</strong></span>
    </div>
    <span class="testGroupsTitle">Test Groups:</span>
</div>
<div class="testReportContainer">
    <div class="cardContainer">
        <div id="testResults">
            {{range $k, $v := .TestResults}}
                <div class="testResultGroup {{.FailureIndicator}}" id="{{$k}}"></div>
            {{end}}
        </div>
    </div>
    <div class="cardContainer testGroupList" id="testGroupList"></div>
</div>
<script type="application/javascript">
    {{.JsCode}}

    /**
     * @type {TestResults}
     */
    const data = {{.TestResults}}

    const report = window.GoTestReport({
                                         data: data,
                                         testResultsElem: document.getElementById('testResults'),
                                         testGroupListElem: document.getElementById('testGroupList')
                                       });


</script>
</body>
</html>